openapi: 3.0.3
info:
  title: Keemos IoT Smart Home API (User-only)
  version: "1.1.0"
servers:
  - url: https://api.keemos.vn
paths:
  /api/v1/auth/login:
    post:
      tags: [auth]
      summary: Login with email/password
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '200':
          description: OK

  /api/v1/auth/refresh:
    post:
      tags: [auth]
      summary: Refresh access token using refresh token
      responses:
        '200':
          description: Token refreshed

  /api/v1/auth/logout:
    post:
      tags: [auth]
      summary: Logout and revoke refresh token
      responses:
        '200':
          description: Logged out

  /api/v1/auth/change-password:
    post:
      tags: [auth]
      summary: Change password for current authenticated user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '200':
          description: Password changed
        '400':
          description: Social-login account without manual password

  /api/v1/auth/social-link:
    post:
      tags: [auth]
      summary: Link social account for current authenticated user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '200':
          description: Social account linked

  /api/v1/auth/profile:
    get:
      tags: [auth]
      summary: Get current user profile
      responses:
        '200':
          description: User profile

  /api/v1/households:
    get:
      tags: [households]
      summary: List households for current user
      responses:
        '200':
          description: Household list
    post:
      tags: [households]
      summary: Create household
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '201':
          description: Household created

  /api/v1/households/{household_id}:
    put:
      tags: [households]
      summary: Update household info (Owner/Admin only)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: household_id
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '200':
          description: Household updated
        '400':
          description: Invalid request payload (e.g. empty name)
        '403':
          description: Forbidden (requires Owner/Admin role)
        '404':
          description: Household not found

  /api/v1/households/{household_id}/devices:
    get:
      tags: [households]
      summary: List devices in household
      parameters:
        - in: path
          name: household_id
      responses:
        '200':
          description: Device list

  /api/v1/households/{household_id}/members:
    get:
      tags: [households]
      summary: List members in household
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: household_id
      responses:
        '200':
          description: Member list
    post:
      tags: [households]
      summary: Invite member by email
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: household_id
      requestBody:
        required: true
        content:
          application/json:
      responses:
        '200':
          description: Member invited

  /api/v1/households/{household_id}/members/{user_id}:
    delete:
      tags: [households]
      summary: Remove member from household
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: household_id
        - in: path
          name: user_id
      responses:
        '200':
          description: Member removed

  /api/v1/households/{household_id}/invitations/codes:
    post:
      tags: [households]
      summary: Create short-lived invitation code
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: household_id
      responses:
        '200':
          description: Invitation code created

  /api/v1/households/join/{code}:
    get:
      tags: [households]
      summary: Join household using invitation code
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: code
      responses:
        '200':
          description: Joined household

  /api/v1/devices/{device_id}/state:
    get:
      tags: [devices]
      summary: Get current device state
      parameters:
        - in: path
          name: device_id
      responses:
        '200':
          description: Device state

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
